config:
  skip_days: 0, 6
  future_events_days: 5

source-calendar-0:
  source: ""
  tag : ""
  title: ""
  tz: ""

source-calendar-1:
  source: ""
  tag: ""
  title: ""
  tz: ""

  source-calendar-N:
  source: ""
  tag: ""
  title: ""
  tz: ""